<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
  <a class="navbar-brand" href="/render/">EJS Pages</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/render/">Home (mit EJS)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/render/system-types/*">System Types (mit EJS)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/render/system-types/abonnements">Abonnements (mit EJS)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/render/system-types/payments">Payments (mit EJS)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/render/system-types/deliveries">Deliveries mit EJS)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/render/about">About (mit EJS)</a>
    </li>
  </ul>
</nav>
<div class="navbar navbar-expand-xl navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Non-EJS Pages</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/">Home (ohne EJS)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/index.htm">public/index.htm (ohne EJS)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/types/*">System Types (ohne EJS)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/types/abonnements">Abonnements (ohne EJS)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/types/payments">Payments (ohne EJS)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/types/deliveries">Deliveries (ohne EJS)</a>
    </li>

    
  </ul>
</div>